body
{
	background-color: black;
}

@font-face 
{
    font-family: "AppleII";
    src: url("../Fonts/AppleII.ttf");
}

.background
{
	background-color: black;
}

.snakeLogo
{
	width: 150px;
	height:50px;
}
.snake
{
	background-image: url("../img/quircleBody.png");
}

.snakeHead
{
	background-image: url("../img/quircleTete.png");
}

.snakeQueue
{
	background-color: green;
}
.pomme
{
	background-image:url("../img/apple.png");
}

.poire
{
	background-image: url("../img/poire.jpg");
}

.pasteque
{
	background-image: url("../img/pasteque.jpg");
}

.banane
{
	background-image: url("../img/banane.jpg");
}

.brique
{
	background-color : green;
}

#restart:hover
{
	width: 120px;
}

table
{
	background-color: black;
	border: #51F200 10px solid;
}

td
{
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: contain;
}

.ContainerTable
{
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	height: 50em;
}

h1
{
	color : #51F200;
	font-family: 'AppleII', monospace;
	justify-content: center;
}

h2
{
	color : #51F200;
	font-family: 'AppleII', monospace;
	justify-content: center;
}

div .title
{

	/*width: 37.5em;*/
	width: 31.7%;
	height: 0.5em;
	display:flex;
	flex-direction:row;
	border : #51F200 3px dashed;
	padding-top: 10px;
	padding-bottom: 65px;
	margin-bottom: 2em;
	justify-content: center;
}

.imgSnake
{
	height: 4em;
	width:6em;
	justify-content: center;
}
